.BannerContainer {
  opacity: 0;
  animation: fadeInBA 0.5s ease-in-out 1s forwards;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 1.5em;
  margin: 1em;
}

.BannerContainer h1 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: var(--panel);
}

.BannerContainer h2 {
  font-size: 0.8em;
  text-align: center;
  color: var(--panel);
}

.invisible {
  animation: fadeOutBA 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
  color: transparent;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

@keyframes fadeInBA {
  0% {
    opacity: 0;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutBA {
  0% {
    opacity: 1;
    height: 10vh;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
