.DCWrapper {
  background-color: var(--panel);
  margin-top: 1em;
  height: 18vh;
  border-radius: 1em;
  margin-inline: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.DCLine {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: var(--panel);
  height: 12vh;
  width: 55vw;
  border-radius: 0.5em;
}

.DCTime {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text);
  padding-right: 0.2em;
}

.DCTime a {
  color: var(--accent);
  font-size: 1.5em;
}
