.DCWrapper {
  opacity: 0;
  animation: fadeInDC 1s ease-in-out forwards;
  background-color: var(--panel);
  margin-top: 1em;
  height: 18vh;
  border-radius: 1em;
  margin-inline: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.DCNowOutlined {
  border: 2px solid var(--accent);
}

.DCLine {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: var(--panel);
  height: 12vh;
  width: 55vw;
  border-radius: 0.5em;
}

.DCTime {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text);
  padding-right: 0.2em;
}

.DCTime b {
  color: var(--accent);
  font-size: 1.5em;
}

.DCNow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0.5em 0.1em 0.1em;
  border-radius: 0.5em;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--accent);
  border: 2px solid var(--accent);
}

.DCDot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: red;
  margin-inline: 0.5em;
  animation: blink 2s ease-in-out infinite;
}

@keyframes fadeInDC {
  0% {
    opacity: 0;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
