.DCWrapper {
  animation: fadeInDC 1s ease-in-out;
  background-color: var(--panel);
  margin-top: 1em;
  height: 18vh;
  border-radius: 1em;
  margin-inline: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.DCLine {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: var(--panel);
  height: 12vh;
  width: 55vw;
  border-radius: 0.5em;
}

.DCTime {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text);
  padding-right: 0.2em;
}

.DCTime b {
  color: var(--accent);
  font-size: 1.5em;
}

@keyframes fadeInDC {
  0% {
    opacity: 0;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
