.FooterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--panel);
  margin-top: 2em;
  height: 10vh;
}

.FooterWrapper a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--accent);
}

.FooterWrapper a img {
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
}
