.headerWrapper {
  background-color: var(--panel);
  border-radius: 0 0 1em 1em;
}

.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
}

.headerTitle {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text);
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 6vh;
}

.headerStation {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--accent);
  text-align: center;
  line-height: 6vh;
}

.headerStation img {
  height: 1em;
  padding-right: 0.3em;
}

.headerProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
}

.headerProductList {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  padding-block: 0.5em;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.headerProductList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.headerProductList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.headerFilterProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 61, 61);
  padding: 0.2em 0.5em 0.2em 0.8em;
  margin: 0.1em;
  margin-block: 0.2em;
  border-radius: 1em;
}
