.SSWrapper {
  background-color: var(--panel);
  width: 90vw;
  margin-top: 2em;
  border-radius: 20px;
  padding-bottom: 1em;
}

.SSTitle {
  font-size: 1.7em;
  font-weight: 600;
  color: var(--panel);
  padding: 0 1em 1em;
  text-align: left;
  background-color: var(--accent);
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

.SSTitle img {
  height: 0.8em;
}

.SSStation {
  transition: all 0.5s ease;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--panel);
  background-color: var(--bg);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
  cursor: pointer;
}
